// --------------------------
// Variables
// --------------------------
/*--fonts--*/
$poppins: 'Poppins', sans-serif;
$lora: 'Lora', serif;
$title: rgb(233, 233, 233);

@mixin backgroundImage {
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin submit-btn{
    margin-top: 10px;
    color: $title;
    font-weight: 700;
    background-color: rgba(111, 111, 111, 0.68);
    border: none;
}

@mixin card-container {
    margin-top: 30px;
    @include flex-column;
    background-color:rgba(111, 111, 111, 0.714);
    width: 95%;
}

// --------------------------
// Body
// --------------------------
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $poppins;
}

// --------------------------
// Index Page
// --------------------------
.index-container {
   height: 100%;
   @include flex-column;
   background-image: url("https://i.imgur.com/iaRAAo8.jpg");
   background-image: linear-gradient(#000000e2, rgba(147, 147, 147, 0.18)), url("https://i.imgur.com/iaRAAo8.jpg");
   background-image: -webkit-linear-gradient(#000000e2, rgba(147, 147, 147, 0.18)), url("https://i.imgur.com/iaRAAo8.jpg");
   background-image: -moz-linear-gradient(#000000e2, rgba(147, 147, 147, 0.18)), url("https://i.imgur.com/iaRAAo8.jpg");
}

.cheese-cards {
   @include card-container;
   margin-bottom: 30px;
}

.c {
    width: 90%;
    margin: 10px auto 10px auto;
}

.index-card-content {
    color: #000;
}

.index-hero {
    margin-top: 30px;
    width: 100%;
}

.hero-title {
    width: 100%;
    padding: 10px;
    background-color: rgba(111, 111, 111, 0.584);
    font-size: 30px;
    font-weight: 700;
    color: $title;
}

.new-form {
    @include flex-column;
    width: 90vw;
}

.form-input {
    margin: 10px;
}

.new-form-title {
    margin: 25px;
    font-weight: 500;
    font-size: 23px;
    color: $title;
}

.add-submit {
   @include submit-btn;
}

// --------------------------
// Show page 
// --------------------------
.showCheese {
    height: 100%;
    @include backgroundImage;
    background-image: url("https://i.imgur.com/6O0MXGO.jpg");
    background-image: linear-gradient(#000000e2, rgba(75, 75, 75, 0.473)), url("https://i.imgur.com/6O0MXGO.jpg");
    background-image: -webkit-linear-gradient( #000000e2, rgba(75, 75, 75, 0.473)), url("https://i.imgur.com/6O0MXGO.jpg");
    background-image: -moz-linear-gradient( #000000e2, rgba(75, 75, 75, 0.473)), url("https://i.imgur.com/6O0MXGO.jpg");
    @include flex-column;
 }

.delete-btn {
    @include submit-btn;
    margin-top: 10px;
    margin-bottom: 30px;
}

.show-card-container {
    @include card-container;
}

.show-card {
    width: 95%;
}

.showcard-header {
    font-size: 20px;
}

.show-card-content {
    font-size: 15px;
}

// --------------------------
// Bulma Modal
// --------------------------
.modal-img {
    height: 60vh;
    width: auto;
}

.big-cheese {
    @include submit-btn;
    margin-bottom: 20px;
}

.modal-background {
    background-color: #000;
}

// --------------------------
// Nav
// --------------------------
.nav {
    background-color: rgb(14, 12, 14);
    height: 10%;
    @include flex-row
}

.cheese-icon {
    font-size: 50px;
    color: rgb(193, 177, 129);
}

// --------------------------
// Footer
// --------------------------
.footer {
    background-color: rgb(14, 12, 14);
    height: 5%;
}

// --------------------------
// MQ
// --------------------------
@media screen and (min-width: 768px) {
    .cheese-cards, .show-card-container {
        margin-top: 50px;
    }

    .c {
        width: 60%;
        margin: 20px 10px 20px 10px;
    }

    .new-form {
        width: 50vw;
    }

    .hero-title {
        padding: 50px;
    }

    .new-form-title {
        margin: 30px;
        font-size: 28px;
    }

    /*--Show--*/
    .show-card {
        width: 70%;
    }

    .showcard-header {
        font-size: 30px;
    }

    .show-card-content {
        font-size: 20px;
    }
}

@media screen and (min-width: 950px) {
    .hero-title {
        margin-top: 40px;
        padding: 90px;
        font-size: 50px;
    }

    .new-form {
        margin-top: 40px;
        width: 50vw;
    }

    .new-form-title {
        margin: 30px;
        font-size: 28px;
    }

    .cheese-cards {
        margin-top: 50px;
        @include flex-row;
        flex-wrap: wrap;
    }

    .c {
        width: 30%;
        margin: 15px;
    }

    /*--Show--*/
    .show-card-container {
        width: 70%;
    }

    .show-card {
        width: 60%;
    }

    .delete-btn {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-title {
        margin-top: 40px;
        padding: 90px;
        font-size: 50px;
    }

    .new-form {
        margin-top: 40px;
        margin-bottom: 15px;
        width: 50vw;
    }

    .new-form-title {
        margin: 30px;
        font-size: 34px;
    }

    .cheese-cards {
        margin-top: 50px;
        @include flex-row;
        flex-wrap: wrap;
    }

    .c {
        width: 25%;
        margin: 15px;
    }

    .add-submit, .delete-btn {
        padding: 25px;
    }

    /*--Show--*/
    .show-card-container {
        width: 60%;
    }

    .show-card {
        width: 50%;
    }

    .delete-btn {
        margin-bottom: 40px;
    }

    .showcard-header {
        font-size: 30px;
    }
}